*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    pedding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(318, 52%, 56%);
}

.cartao {
    width: 260px;
    height: 200px;
}

.cartao-imagem {
     width: 90%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #268ae7;
}

main{
    flex: 1;
}

.cabecalho-link{
    color:hsl(204, 91%, 63%);
    text-decoration: none;
}

h1{
  color:#f142da;
  font-size: 24px;
}

footer{
    background-color: #fff;
    pedding: 15px 25px;
  color: #fff;
}